*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(87, 13, 61);
    text-align: center;
}
#heading1{
    color: rgb(55, 158, 199);
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    font-size: 8vmin;
    color: rgb(59, 81, 25);
    background-color: rgb(119, 183, 34);
}
#reset{
    width: 90px;
    height: 40px;
    border-radius: 10px;
}

#msg{
    color: bisque;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}
#new-btn{
    width: 90px;
    height: 40px;
    border-radius: 10px;
}