#img1{
    width:250px;
    display: flex;
    margin: 0 auto;
}

nav{
    background-color: rgb(116, 169, 54);
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 6px;
    margin: 15px;
    font-size: 17px;
}

h1{
    text-align: center;
}

#img2, p{
    width:900px;
    height:400px;
    display: flex;
    margin: 0 auto;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100% ;
}